<footer>
    <div class="contact-info">
      <h2>CAFESPHERE</h2>
      <p>
        "Create Unforgettable Moments in the Perfect Café—Book Your Next
        Event Today!"
      </p>
      <p>Contact Us - cafesphere@gmail.com</p>
      <div class="social-media">
          <a><i class="fa-brands fa-instagram"></i></a>
          <a><i class="fa-brands fa-linkedin"></i></a>
      </div>
    </div>
    <div class="footer-bottom">
      <p>
        © 2024 CafeSphere. All rights reserved. <a>Terms of Service</a> |
        <a>Privacy Policy</a>
      </p>
    </div>
  </footer>